<div [routerLink]="['/events', event.id]" class="well hoverwell thumbnail">
	<h2>{{event?.name}}</h2>
	<div>Date: {{event?.date}}</div>
	<div>Time: {{event?.time}}</div>
	<div>Price: ${{event?.price}}</div>
	<div [hidden]="!event?.location">
		<span>Location: {{event?.location?.address}}</span>
		<span class="pad-left">{{event?.location?.city}}, {{event?.location?.country}}</span>
	</div>
	<div *ngIf="event?.onlineUrl">
		Online: {{event?.onlineUrl}}
	</div>
	<br />
	<button style="display: none;" class="btn btn-primary" (click)="register()">Register</button>
</div>
